<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
          <ion-card-title>Contact us on</ion-card-title>
        </ion-card-header>
        <ion-card-content>
        <p>Tell: 07838648446</p>
        <p>Email: m2@gmail.com</p>
        <p>Facebook: m2/facebook</p>
        <p>Whatsup: 0883923639</p>
        </ion-card-content>
      </ion-card>
</ion-content>
