ionic <ion-header color="primary">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
     About-Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/imgs/pic6.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get served with</ion-card-subtitle>
        <ion-card-title>M2 Motel</ion-card-title>
      </ion-card-header>
      </ion-card>
    <ion-card color="secondary">
      <ion-card-content color="primary">
      <ion-list lines="none">
          <ion-list-header>
            <ion-label center>M2 is aprivatey owned Motel </ion-label>
          </ion-list-header>
          <ion-item >
              <ion-label><ion-img src="/assets/imgs/pic5.png" align="center"></ion-img></ion-label>
            </ion-item>
            <ion-list-header>
                <ion-label center>We offer various services </ion-label>
              </ion-list-header>
          <ion-item >
            <ion-label>Breakfast</ion-label>
          </ion-item>
          <ion-item >
            <ion-label>Lunch</ion-label>
          </ion-item>
          <ion-item >
            <ion-label>Super and Accomodation</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
       </ion-card>> 
</ion-content> 

